.card{
    height: 180px;
    width: 180px;
    border: 2px solid rgb(10, 10, 10);
    background-color: aqua;
    box-shadow: 2px 4px 8px green;
    border-radius: 10px;

}
.desc{
    padding: 0 10px 10px 10px;
}
img{
    width: 80%;
    background-size: cover;
}